{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>
  <div class="jumbotron jumbotron-fluid" style="background-color:#FFFFFF;margin-bottom: 0px">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <p class="text-center" style="color: #000000;">Contact information:</p>
          <p class="text-center" style="color: #000000;">+6281288480315</p>
          <p class="text-center" style="color: #000000;">alvitoathallah@gmail.com</p>
        </div>
        <div class="col-sm-3">
          <img style="width: 30px;height: 30px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/IGLogo.png' %}">
        </div>
        <div class="col-sm-3">
          <img style="width: 30px;height: 30px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/LineLogo.png' %}">
        </div>
        <div class="col-sm-3">
          <p class="text-center" style="color: #000000;">Komplek BRI Rawasari, Jl. Percetakan Negara XI No. 50 Jakarta Pusat, 10570</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>