<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    ntegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Inputan</title>
</head>
<body style="background-color: #000000;">
    {% include "home/navbar.html" %}
    <div class="container">
        <form action='' method="POST">
            {% csrf_token %}
            <div class="form-group" style="margin-top:100px">
                <label style="color: #FFFFFF;">Mata Kuliah</label>
                {{form.Mata_Kuliah}}
            </div>
            <div class="form-group">
                <label style="color: #FFFFFF;">Dosen</label>
                {{form.Dosen}}
            </div>
            <div class="form-group">
                <label style="color: #FFFFFF;">SKS</label>
                {{form.SKS}}
            </div>
            <div class="form-group">
                <label style="color: #FFFFFF;">Semester</label>
                {{form.Semester}}
            </div>
            <div class="form-group">
                <label style="color: #FFFFFF;">Kelas</label>
                {{form.Kelas}}
            </div>
            <div class="form-group">
                <label style="color: #FFFFFF;">Deskripsi</label>
                {{form.Deskripsi}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>

   <table class="table" style="margin-top:100px">
       <thead>
           <tr style="color: #FFFFFF;">
               <th scope="col">Mata Kuliah</th>
               <th scope="col">Dosen</th>
               <th scope="col">SKS</th>
               <th scope="col">Semester</th>
               <th scope="col">Kelas</th>
               <th scope="col">Deskripsi</th>
               <th scope="col">Delete</th>
           </tr>
       </thead>
       <tbody>
           {% for tabel in inp %}
                <tr style="color: #FFFFFF;">
                <th scope="row">{{tabel.Mata_Kuliah}}</th>
                <td>{{tabel.Dosen}}</td>
                <td>{{tabel.SKS}}</td>
                <td>{{tabel.Semester}}</td>
                <td>{{tabel.Kelas}}</td>
                <td>{{tabel.Deskripsi}}</td>
                <td><a href="{{tabel.id}}"><button style="background-color: yellow;" class="btn btn-icon btn-danger"></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
   </table>
   {% include "home/footer.html" %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>