{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body style="background-color: #000000;">
  {% include "home/navbar.html" %}
  <div class="container" style="margin-top:100px">
    <p class="text-center" style="font-size: 200%; color: #FFFFFF;">Welcome to my student profile!</p>
  </div>
  {% include "home/footer.html" %}
</body>
</html>