{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body style="background-color: #000000;">
    {% include "home/navbar.html" %}
    <div class="container" style="margin-top:100px">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-center" style="font-size: 200%; color: #FFFFFF;">SDN Johar Baru 01 Pagi</p>
                <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/SDN.jpg' %}">
                <p style="font-size: 200%; color: #FFFFFF;text-align: center">SMAN 8 Jakarta Selatan</p>
                <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/SMAN.jpg' %}">
            </div>
            <div class="col-sm-6">
                <p style="font-size: 200%; color: #FFFFFF;text-align: center">SMPN 115 Jakarta Selatan</p>
                <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/SMPN.jpg' %}">
                <p style="font-size: 200%; color: #FFFFFF;text-align: center">Universitas Indonesia</p>
                <img style="width: 426px;height: 265px;" class="img-fluid rounded mx-auto d-block" src="{% static 'img/UI.jpg' %}">
            </div>
        </div>
    </div>
    {% include "home/footer.html" %}
</body>

</html>