{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'basecamp/style.css' %}">
</head>

<body style="background-color:black;">
    {% include "home/navbar.html" %}
	
<h1 style="text-align:center;font-size:300%;color:white;">Profil Mahasiswa</h1>
<h1 style="text-align:center;"><img src="{% static 'img/Foto.jpg' %}" style="width:169px;height:225px;">

<h2 style="text-align:center;font-size:300%;color:white;">Deskripsi</h2>
    <p style="text-align:center;font-size:150%;color:white;">Halo! Perkenalkan nama saya Alvito Athallah biasa dipanggil Vito. Saya saat ini sedang mengemban pendidikan di Universitas Indonesia. Tujuan saya saat ini adalah mempelajari semua ilmu yang tersedia dan mengaplikasikannya dalam kehidupan nyata </p>

<ul>
    <li style="font-size:125%;color:white;">Nama: Alvito Athallah</li>
    <li style="font-size:125%;color:white;">NPM: 1906302586</li>
    <li style="font-size:125%;color:white;">Angkatan: 2019</li>
    <li style="font-size:125%;color:white;">Hobi: Berolahraga</li>
    <li style="font-size:125%;color:white;">Media Sosial: Instagram<a href="https://www.instagram.com/alvito_01/">(alvito_01)</a>,  Line(alvito1107)</li>
</ul>

<p style="text-align:center;font-size:150%;color:white;">Berikut riwayat pendidikan saya:</a>

    <table id="t01" style="margin-left:auto;margin-right:auto;width:25%;color:black;">
        <tr>
            <th>Pendidikan</th>
            <th>Tahun</th>
        </tr>
        <tr>
            <td>SDN Johar Baru 01 Pagi</td>
            <td>2007 - 2013</td>
        </tr>
        <tr>
            <td>SMPN 115 Jakarta Selatan</td>
            <td>2013 - 2016</td>
        </tr>
        <tr>
            <td>SMAN 8 Jakarta</td>
            <td>2016 - 2019</td>
        </tr>
        <tr>
            <td>Universitas Indonesia</td>
            <td>2019 - Sekarang</td>
        </tr>
      </table>
      {% include "home/footer.html" %}
</body>
</html>